<!--
  <ul>
    <li>
      <a ng-show="currentUser" ng-href="#/meetings">Classes
        <span ng-show="howManyMeetings" class="badge">
        {{howManyMeetings}}</span>
      </a>
    </li>
    <li><a ng-hide="currentUser" ng-href="#/login">Login</a></li>
    <li><a ng-hide="currentUser" ng-href="#/register">Register</a></li>
  </ul>
-->
  <header id="header">

    <!--headerBox Start Here -->
    <div class="header">
					<div class="container-fluid">
						<div class="row">
							<div class="container">
								<div class="row">
									<div class="col-xs-12 top">
										<a href="#/home" class="logo"><img src="images/logo.jpg" alt="" height="100" width="100" /></a>
										<section class="menu-wrap">
											<ul class="nav">
												<li>
													<a href="#/home">Home</a>
												</li>
                        <li>
                          <a href="#/programs">Programs</a>
                        </li>
                        <li>
                          <a href="#/schedule">Schedule</a>
                        </li>
                        <li>
                          <a href="#/about">About</a>
                        </li>
                        <li>
                          <a href="#/login">Login</a>
                        </li>
                        <li>
                          <a href="#/register">Register</a>
                        </li>
                        <li>
                          <a href="#/meetings">Add Class</a>
                        </li>
											</ul>
										</section>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

    <!--headerCntr End Here -->
  </header>
